@media (min-width: 50px) and (max-width: 630px)
{
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
    }
    .googleMaps-container{
        margin-top: 2em;
        height: fit-content;
        width: 75%;
    }

    .googleMaps {
        width: 100%;
    }
    
}


@media (min-width: 631px)
{
    .row {
        display: flex;
        position: relative;
        top: 25%;
    }

    .googleMaps {
        flex: 0 0 50%;
        width: 75%;
    }
}

.contactDetails-container
{
    flex: 0 0 50%;
    max-width: 50%;
    align-items: center;
}
.contactDetails
{
    text-align: center;
}

.googleMaps-container
{
    flex: 0 0 50%;
}


.contact-title {
    clear: both;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    margin: 0.67em 0;
}

.contact-paragraph{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    margin-bottom: 0.55em;
}

.locationMarker > h2 {
    margin: 1.5em 0 0.75em 0;
}