/* body {
    background-image: url(../img/background-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
} */

html, body{
    background-color: rgb(235, 235, 235);
    height: 100%;
}